/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.login-body {
    background: url('assets/images/login-bg.png') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
    height: 100vh;
}